:root {
    --sky-blue: #92b9e3;
    --mountain-gray: #586576;
    --grass-green: #012016;
}

* {
    margin: 0;
    padding: 0;
}

#site-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

#side-bar {
    display: flex;
    width: 40vw;
    background-image: url(images/DALL·E\ 2023-10-12\ 12.55.10\ -\ long\ road\ going\ to\ horizon\ on\ a\ sunny\ day\,\ clouds\ overhead\,\ mountains\ in\ background\,\ pixel\ art.png);
    background-size: auto;
    background-position: center;
    align-items: center;
}

#banner {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    width: 100%;
    height: 200px;
}

#banner > h1 {
    color: white;
    font-family: 'Lora', sans-serif, arial, helvetica;
    font-weight: bold;
}

#sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: fit-content;
    min-height: 100vh;
    background-color: var(--grass-green);
}

#intro {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-family: 'Lora', sans-serif, arial, helvetica;
    font-size: 1rem;
    margin: 4rem;
    max-height: 10vh;
}

#form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50vw;
}

form > div > label {
    display: block;
    margin: 1rem;
    color: var(--sky-blue);
    font-family: 'Lora', sans-serif, arial, helvetica;
    font-weight: bold;
}

form > div > input {
    display: block;
    outline: none;
    padding: 4px;
    margin: 1rem;
    width: 18rem;
    height: 2rem;
    font-family: 'Lora', sans-serif, arial, helvetica;
    font-size: 1.3rem;
    color: white;
    background-color: var(--grass-green);
    border-color: var(--mountain-gray);
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 5px;
}

form > div > input:focus {
    border-color: var(--sky-blue);
    border-width: 0.1rem;
    box-shadow: 1px 1px 5px black;
}

#actions {
    justify-self: center;
    align-self: center;
    color: white;
}

button {
    outline: none;
    margin: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--sky-blue);
    border-color: var(--sky-blue);
    border-radius: 10px;
    border-width: 1px;
    box-shadow: 1px 1px 5px black;
    color: var(--grass-green);
    font-family: 'Lora', sans-serif, arial, helvetica;
    font-weight: bold;
    font-size: 1.1rem;
}

button:active {
    background-color: var(--mountain-gray);
    border-color: var(--mountain-gray);
}

